# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# EditorConfig is awesome: https://EditorConfig.org

root = true
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# PowerShell-specific files
[*.{ps1,psm1,psd1}]
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
