# Windows Configuration Environment Variables
BACKUP_ROOT="$env:USERPROFILE\OneDrive - Fyber Labs\PCbackup"
WINDOWS_CONFIG_PATH="$env:USERPROFILE\Scripts\WindowsMissingRecovery"
MACHINE_NAME="$env:COMPUTERNAME" 