# Windows Configuration Environment Variables
BACKUP_ROOT="$env:USERPROFILE\OneDrive\PCbackup"
WINDOWS_CONFIG_PATH="$env:USERPROFILE\Scripts\WindowsConfig"
MACHINE_NAME="$env:COMPUTERNAME"
CLOUD_PROVIDER="OneDrive"
EMAIL_FROM=""
EMAIL_TO=""
EMAIL_PASSWORD=""
EMAIL_SMTP_SERVER="smtp.office365.com"
EMAIL_SMTP_PORT=587
EMAIL_ENABLE_SSL=$true 